/* .cards {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}
.card {
  position: relative;
  display: inline-block;
  width: 172px;
  height: 240px;
  font: 16px 'Trebuchet MS';
  margin: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.card:before,
.card:after {
  content: attr(value);
  position: absolute;
  width: 12px;
  text-align: center;
  letter-spacing: -2px;
}
.card:before {
  top: 4px;
  left: 4px;
}
.card:after {
  bottom: 4px;
  right: 4px;
  transform: rotate(180deg);
}
.card--heart {
  color: #e44145;
}
.card--heart:before,
.card--heart:after {
  content: attr(value) ' ♥';
}
.card--spade {
  color: #252525;
}
.card--spade:before,
.card--spade:after {
  content: attr(value) ' ♠';
}
.card__inner {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
}
.card__inner--centered {
  justify-content: center;
}
.card__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__column--centered {
  justify-content: center;
}
.card__symbol {
  display: inline-block;
  height: 40px;
  text-align: center;
}
.card__symbol:before {
  font-size: 40px;
  line-height: 40px;
}
.card--heart .card__symbol:before {
  content: '♥';
}
.card--spade .card__symbol:before {
  content: '♠';
}
.card--diamond .card__symbol:before {
  content: '♦';
}
.card--club .card__symbol:before {
  content: '♣';
}
.card__symbol--rotated,
.card__symbol:last-of-type {
  transform: rotate(180deg);
}
.card__symbol:first-of-type {
  transform: rotate(0);
}
.card__symbol--big {
  flex-basis: 60px;
}
.card__symbol--huge {
  flex-basis: 108px;
} */

.card--heart,
.card--diamond {
  color: #e44145;
}
.card--spade,
.card--club {
  color: #252525;
}

.card--heart .card__symbol:before {
  content: "♥";
}
.card--spade .card__symbol:before {
  content: "♠";
}
.card--diamond .card__symbol:before {
  content: "♦";
}
.card--club .card__symbol:before {
  content: "♣";
}
/* 
.card {
  display: inline-block;
  position: relative;
}

.card.red {
  color: red;
}

.card-topleft {
  position: absolute;
  top: 0.5em;
  left: 0.75em;
}

.card-center {
  position: absolute;
  top: 45%;
  left: 45%;
}

.card-bottomright {
  position: absolute;
  bottom: 0.5em;
  right: 0.75em;
  transform: rotate(180deg);
}

.card-corner-rank,
.card-corner-suit {
  text-align: center;
  transform: translate(-50%, 0);
} */

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding: 8px;
  font-size: 20px;
}

.card .card-bottomright {
  align-self: end;
  transform: rotate(180deg);
}

.card .card-center {
  align-self: center;
}

.deck {
  position: relative;
}

.shoe,
.discard {
  top: 1.5rem;
}

.deck .card {
  position: absolute;
  top: 1.5rem;
}

.shoe > .card,
.discard > .card {
  --tw-drop-shadow: none;
}

.shoe > .card {
  right: 0;
}

.discard > .card {
  left: 0;
}

.card.back {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3zwJFuJbODZ--Ac_hDP40S28MxwvV8VKRaw&usqp=CAUhttps://thomaslmcdonald.files.wordpress.com/2010/09/4044e-hoyleback.jpg");
  /* background-image: url("https://thomaslmcdonald.files.wordpress.com/2010/09/4044e-hoyleback.jpg"); */
  background-position: center;
  background-size: contain;
}

.card.back .card-center,
.card.back .card-topleft,
.card.back .card-bottomright {
  opacity: 0;
}

.dealer > .cards:not(.showing) .card:nth-child(2) {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3zwJFuJbODZ--Ac_hDP40S28MxwvV8VKRaw&usqp=CAU");
  background-position: center;
  background-size: contain;
}

.dealer > .cards:not(.showing) .card:nth-child(2) .card-center,
.dealer > .cards:not(.showing) .card:nth-child(2) .card-topleft,
.dealer > .cards:not(.showing) .card:nth-child(2) .card-bottomright {
  opacity: 0;
}

.player > .player-doubled > .card:last-child {
  position: absolute;
  top: -50%;
  right: -25%;
  transform: rotate(90deg);
}
